[printer]
kinematics: corexy
max_velocity: 500
max_accel: 8000
max_z_velocity: 15          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[force_move]
enable_force_move: true

[pause_resume]

[display_status]

[respond]

[exclude_object]

[gcode_arcs]
resolution: 0.1


[extruder]
step_pin: nhk:gpio23
dir_pin: nhk:gpio24
enable_pin: !nhk:gpio25
rotation_distance: 21.771793056   #Bondtech 5mm Drive Gears
gear_ratio: 50:10               #BMG Gear Ratio
microsteps: 32
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: nhk:gpio9
#sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_type: PT1000
sensor_pin: nhk:gpio29
pullup_resistor: 2200
min_temp: 10
max_temp: 300
max_power: 1.0
min_extrude_temp: 170
pressure_advance: 0.05
pressure_advance_smooth_time: 0.040
max_extrude_only_distance: 500
max_extrude_only_velocity: 500 
max_extrude_cross_section: 100

control: mpc
heater_power: 80  
cooling_fan: fan
filament_diameter: 1.75
filament_density: 1.20
filament_heat_capacity: 1.8 